/* Hide scrollbar for Chrome, Safari and Opera */
html::-webkit-scrollbar
{
    display: none;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #FAF9F6;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
}

/* Navigation */
nav
{
    background-color: #292929;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    display: table;
    margin: 0 auto;
    padding-top: 10px;
    padding-bottom: 5px;
    z-index: 9999;
}

nav a
{
    position: relative;
    width: 50%;
    display: table-cell;
    text-align: center;
    color: #949494;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    padding: 10px 20px;
    transition: 0.2s ease color;
}

nav a:before,
nav a:after {
    content: "";
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    transition: 0.2s ease transform;
}

nav a:before {
    top: 0;
    left: 10px;
    width: 6px;
    height: 6px;
}

nav a:after {
    top: 5px;
    left: 18px;
    width: 4px;
    height: 4px;
}

nav a:nth-child(1):before
{
    background-color: yellow;
}

nav a:nth-child(1):after {
    background-color: red;
}

nav a:nth-child(2):before {
    background-color: #00e2ff;
}

nav a:nth-child(2):after {
    background-color: #89ff00;
}

#indicator {
    position: absolute;
    left: 5%;
    bottom: 0;
    width: 50%;
    height: 3px;
    background-color: #fff;
    border-radius: 5px;
    transition: 0.2s ease left;
}

nav a:hover
{
    color: #fff;
}

nav a:hover:before, nav a:hover:after
{
    transform: scale(1);
}

nav a:nth-child(1):hover ~ #indicator
{
    background: linear-gradient(130deg, yellow, red);
}

nav a:nth-child(2):hover ~ #indicator
{
    left: 50%;
    background: linear-gradient(130deg, #00e2ff, #89ff00);
}

/* Main body */
main
{
    position: absolute;
    top: 200px;
    padding: 0;
}

/* Hero section - Begin */
.hero-component
{
    height: 80vh;
}

/* Hero section - Illustration */
.illustration
{
    position: relative;
}

#illustration
{
    position: absolute;
    max-width: 80%; /* Set the maximum width of the image to 100% */
    height: auto; /* Maintain the aspect ratio of the image */
    left: 20%;
}

/* Hero section - Header Begin */
#illustration-header
{
    margin-top: 15%;
    margin-left: 30%;
    font-size: 60px;
    font-weight: 700;
    color: rgba(108,99,255,255);
}

#illustration-sub-header
{
    margin-top: 10%;
    margin-left: 30%;
}

#illustration-sub-header span
{
    color:rgb(140,140,252);
    font-style: italic;
}
/* Hero section - Header - End */
/* Hero section - End */

/* Hero Section - Button - Begin */
.button
{
    margin-top: 5%;
    margin-left: 30%;
}
/* Button 1 */
#button1
{
    width: 30%;
    align-items: center;
    background-color: #6c63fb;
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    cursor: pointer;
    font-size: 0.9rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

#button1:active
{
    border-color: #4a4a4a;
    outline: 0;
}
  
#button1:focus
{
    border-color: #485fc7;
    outline: 0;
}
  
#button1:hover
{
    border-color: #b5b5b5;
}
  
#button1:focus:not(:active)
{
    box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}

#button1 a
{
    color: white;
    text-decoration: none;
}

/* Button 2 */
#button2
{
    width: 30%;
    margin-left: 20px;
    width: 30%;
    align-items: center;
    background-color: #FAF9F6;
    border: 1px solid #dbdbdb;
    border-radius: .375em;
    cursor: pointer;
    font-size: 0.9rem;
    height: 2.5em;
    justify-content: center;
    line-height: 1.5;
    padding: calc(.5em - 1px) 1em;
    position: relative;
    text-align: center;
    white-space: nowrap;
}

#button2 a
{
    color: #485fc7;
    text-decoration: none;
}

#button2:active
{
    border-color: #4a4a4a;
    outline: 0;
}
  
#button2:focus
{
    border-color: #485fc7;
    outline: 0;
}
  
#button2:hover
{
    border-color: #b5b5b5;
}
  
#button2:focus:not(:active)
{
    box-shadow: rgba(72, 95, 199, .25) 0 0 0 .125em;
}
/* Hero Section - Button - End */

/* Chart Section - Begin */
/* Chart Section - Chart 1 - Begin*/
#chart1-container
{
    width: 100%;
}

.visualisation-title
{
    text-align: center;
    padding-top: 20px;
    height: 10vh;
    margin-bottom: 40px;
}

h3 span
{
    font-weight: 700;
    color: #485fc7;
    font-size: 36px;
}